:root{
    --color-primary: #243B55;
    --color-secondary: #141E30;
    --color-gred_1: linear-gradient(270deg, rgba(36,59,85,1) 0%, rgba(20,30,48,1) 100%);
    --color-green: #27AE60;
    --color-white: #ffffff;
    --color-transparent: transparent;
    --border-radius : 10px;
    --border-radius-small : 5px;
    --margin : 16px;
    --paddin : 16px;
    --effect-shadow-up: drop-shadow(-2px -2px 2px #00000075);
    --effect-shadow-down: drop-shadow(2px 2px 2px #00000075);
    --text-shadow : 2px 2px rgba(0, 0, 0, 0.5);
    --font-family : jstgo-Medium;
}
@font-face{
    font-family: "jstgo-Medium";
    src: url("https://gitlab.com/EyadAbdullah/jstgo-lib/-/blob/master/fonts/Roboto-Medium.ttf") format("truetype");
  }
@font-face{
    font-family: "jstgo-Bold";
    src: url("https://gitlab.com/EyadAbdullah/jstgo-lib/-/blob/master/fonts/Roboto-Bold.ttf") format("truetype");
  }
body {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,span,p{
    font-family: var(--font-family);
    color: var(--color-white);
    text-shadow: var(--text-shadow);
}
.input-field {
    position: relative;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
    width: 300px;
    height: 54px;
    padding: var(--paddin);
    border-radius: var(--border-radius-small);
    border-color: var(--color-white);
    border-style: none;
    filter: var(--effect-shadow-down);
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: bold;
}
.input-button{
    position: relative;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
    width: 300px;
    height: 54px;
    background-color: var(--color-green);
    border-radius: var(--border-radius-small);
    border-color: color;
}
.container-vertical {
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
    filter: var(--effect-shadow-down);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-horizontal {
    border-radius: var(--border-radius);
    background-color: var(--color-secondary);
    filter: var(--effect-shadow-down);
    display: flex;
    flex-direction: row;
    align-items: baseline ;
}

header {
    position: fixed;
    width: 100%;
    height: 5em;
    top: 0;
    filter: var(--effect-shadow-down);
    background: var(--color-gred_1);
}

footer {
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: 0;
    filter: var(--effect-shadow-up);
    background-color: var(--color-primary);
}